.footer{
    background-color: black;
    .h3{
        background-color: azure;
        
text-align: center;
background-color: aqua;
    }
.pFooter{
font-size: 20px;
padding: 20px;
margin: 20px;
width: 100%;
color: aliceblue;
text-align: center;
}
}
